
.navbar {
    background-color: #2a579b !important; 
}
    
    
.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: white !important;
    font-weight: bold;
}
    
    
.card {
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}
    
.card:hover {
    transform: scale(1.05);
}
    
.card img {
    height: 200px;
    object-fit: contain;
}
    
    
h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    background-color: #92c4f5 !important;
    color: white !important; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-weight: bold !important;
}

button:hover {
    background-color: #66a4e2 !important;
}

.botonCarrito{
    background-Color: #51c16b !important;
    /*border-Color: #51c16b !important;*/
    border-radius: 5px !important;
    transition: background-color 0.5s ease !important;
}

.botonCarrito:hover{
    background-Color: #3fa354 !important;
    border-Color: #3fa354 !important;
}
